#contenedor {
  width: 100%;
}
span {
  font-size: 23px;
}
#navbarNav {
  font-size: 18px;
}
p {
  font-size: 18px;
  font-weight: 500;
}
#parrafoTarjeta{
  font-size: 12px;
}
.titulo1{
  height: 70px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5PX;
  
}
.card-group{
  
 
  width: 70%;
}
.d-grid{
  background-color: rgba(135, 214, 17, 0.74);
  
}
#parrafo1{
  font-size: 15px;
  font-style: normal;
}
#parrafo2{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: left;
  color: gray;
  font-size: 13px;
  
}

.menu
{
  background-color: rgba(65, 65, 92, 0.993);
    width: 100%;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    list-style-type: none;    
}

.menu li
{
    display: inline;
    font-size: 14px;
    margin-left: 80px;
}

.menu li a
{
    color: white;
    text-decoration: none;
}